.student-dashboard {
    font-size: 24px;
    color: black;
    margin: 20px 20px 5px;
}

#line-break {
    margin: 0 18px;
}

.student-details {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
}

.student-photo {
    height: 110px;
    width: 110px;
    background-color:white;
    margin-right: 30px;
}

.student-info {
    margin: auto 0;
}

.student-text {
    margin: auto 0;
}

.external-btn {
    width:80%; 
    padding: 5px 20px;
    margin: 50px 20px;
}

.external-div {
    text-align: center; 
}